In [1]:
import pandas as pd
import numpy as np

In [2]:
dic1={
    "name":['sharma','yash','shivam','vaibhav'],
    "marks":[78,92,93,79],
    "city":['ahmedabad','delhi','ranchi','hyderabad']
}
dic1

{'name': ['sharma', 'yash', 'shivam', 'vaibhav'],
 'marks': [78, 92, 93, 79],
 'city': ['ahmedabad', 'delhi', 'ranchi', 'hyderabad']}

In [3]:
df=pd.DataFrame(dic1)
df #DataFrame helps in fetching the data in a tabular form

      name  marks       city
0   sharma     78  ahmedabad
1     yash     92      delhi
2   shivam     93     ranchi
3  vaibhav     79  hyderabad

In [4]:
df.to_csv('freinds.csv') #converts into excel sheet

In [5]:
df.to_csv('friends_no_index.csv', index=False)  #converts into excel sheet without index

In [6]:
df.head(3) #head() shows the data from top

     name  marks       city
0  sharma     78  ahmedabad
1    yash     92      delhi
2  shivam     93     ranchi

In [7]:
df.tail(2) #tail() shows the data from below

      name  marks       city
2   shivam     93     ranchi
3  vaibhav     79  hyderabad

In [8]:
df.describe() #describe() does the statistical analysis for the given data

           marks
count   4.000000
mean   85.500000
std     8.103497
min    78.000000
25%    78.750000
50%    85.500000
75%    92.250000
max    93.000000

In [9]:
sharma=pd.read_csv('sharma.csv')
sharma #converts excel to ds

    Train2  Speed2  City3
0     1235     100    Diu
1  1234578     153   Pune
2  1202544     162    Hyd
3  1235986     170    Amd
4  1457678     140  Delhi

In [10]:
sharma["Speed2"][0]=100 #changes the the value of selected column "[coloumn][index]"

C:\Users\priya\AppData\Local\Temp\ipykernel_23456\1751315379.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharma["Speed2"][0]=100 #changes the the value of selected column "[coloumn][index]"

In [11]:
sharma

    Train2  Speed2  City3
0     1235     100    Diu
1  1234578     153   Pune
2  1202544     162    Hyd
3  1235986     170    Amd
4  1457678     140  Delhi

In [12]:
sharma.to_csv('sharma.csv', index=False)
sharma #again changes into excel with update

    Train2  Speed2  City3
0     1235     100    Diu
1  1234578     153   Pune
2  1202544     162    Hyd
3  1235986     170    Amd
4  1457678     140  Delhi

Series- A one dimensional array with indexes it stores a single column or row of data


DataFrame- A tabular spreadsheet like structures representing rows each of which contains one or multiple columns

In [13]:
ser=pd.Series(np.random.rand(34)) 
ser #prints data in series randomly

0     0.471506
1     0.344266
2     0.416440
3     0.534148
4     0.367120
5     0.025680
6     0.187969
7     0.992907
8     0.859762
9     0.054796
10    0.140825
11    0.237906
12    0.556767
13    0.824083
14    0.566278
15    0.788158
16    0.471180
17    0.661885
18    0.886782
19    0.064613
20    0.376623
21    0.512619
22    0.957847
23    0.165417
24    0.742082
25    0.283041
26    0.379299
27    0.041550
28    0.794892
29    0.708822
30    0.681508
31    0.124104
32    0.649477
33    0.257608
dtype: float64

In [14]:
type(ser)

pandas.core.series.Series

In [15]:
newdf=pd.DataFrame(np.random.rand(12,6))
print(newdf) #prints data in dataframe randomly

           0         1         2         3         4         5
0   0.700794  0.471578  0.615197  0.804065  0.026324  0.539946
1   0.152460  0.850296  0.637400  0.430813  0.492526  0.522564
2   0.185187  0.809351  0.435745  0.260893  0.375487  0.363387
3   0.133920  0.719413  0.922244  0.669977  0.664122  0.726106
4   0.890572  0.003876  0.425399  0.874179  0.269399  0.819612
5   0.203559  0.207687  0.861068  0.699387  0.971173  0.597723
6   0.183604  0.306668  0.802689  0.856355  0.393265  0.283160
7   0.690463  0.606402  0.204755  0.429203  0.368560  0.897263
8   0.108099  0.492838  0.210553  0.116433  0.011098  0.745457
9   0.028392  0.048839  0.101186  0.988195  0.943442  0.215669
10  0.036461  0.541252  0.901235  0.557388  0.002197  0.407329
11  0.874658  0.235869  0.737447  0.019544  0.007838  0.271250

In [16]:
print(newdf.head()) #prints data from top

          0         1         2         3         4         5
0  0.700794  0.471578  0.615197  0.804065  0.026324  0.539946
1  0.152460  0.850296  0.637400  0.430813  0.492526  0.522564
2  0.185187  0.809351  0.435745  0.260893  0.375487  0.363387
3  0.133920  0.719413  0.922244  0.669977  0.664122  0.726106
4  0.890572  0.003876  0.425399  0.874179  0.269399  0.819612

In [17]:
type(newdf)

pandas.core.frame.DataFrame

In [18]:
newdf.describe()

               0          1          2          3          4          5
count  12.000000  12.000000  12.000000  12.000000  12.000000  12.000000
mean    0.349014   0.441172   0.571243   0.558869   0.377119   0.532456
std     0.334216   0.283031   0.290546   0.312334   0.345782   0.229188
min     0.028392   0.003876   0.101186   0.019544   0.002197   0.215669
25%     0.127465   0.228824   0.371688   0.387126   0.022517   0.343331
50%     0.184395   0.482208   0.626298   0.613683   0.372023   0.531255
75%     0.693046   0.634654   0.817284   0.817138   0.535425   0.730944
max     0.890572   0.850296   0.922244   0.988195   0.971173   0.897263

In [19]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
dtype: object

In [20]:
newdf.index #prints index of the dataframe

RangeIndex(start=0, stop=12, step=1)

In [21]:
newdf.columns #prints columns of the dataframe

RangeIndex(start=0, stop=6, step=1)

In [22]:
newdf.to_numpy() #prints the df in the form of numpy

array([[0.70079421, 0.47157824, 0.61519682, 0.80406498, 0.02632401,
        0.5399462 ],
       [0.15245967, 0.85029551, 0.6373999 , 0.43081315, 0.49252554,
        0.52256364],
       [0.18518704, 0.80935149, 0.43574486, 0.2608933 , 0.37548673,
        0.36338735],
       [0.13392   , 0.71941263, 0.92224376, 0.66997701, 0.66412174,
        0.72610567],
       [0.89057161, 0.00387629, 0.42539943, 0.87417878, 0.26939859,
        0.81961166],
       [0.20355905, 0.20768661, 0.86106807, 0.6993869 , 0.97117264,
        0.59772321],
       [0.18360392, 0.30666795, 0.80268892, 0.85635546, 0.39326524,
        0.28316038],
       [0.69046326, 0.60640167, 0.20475546, 0.42920346, 0.36855996,
        0.89726338],
       [0.10809892, 0.49283763, 0.21055318, 0.11643267, 0.01109765,
        0.74545704],
       [0.02839248, 0.04883938, 0.10118616, 0.98819512, 0.94344162,
        0.21566862],
       [0.03646096, 0.54125172, 0.90123541, 0.55738842, 0.00219708,
        0.40732945],
       [0.87465821, 0.23586941, 0.73744702, 0.01954421, 0.00783772,
        0.27125019]])

In [23]:
newdf.T #transpose the df

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.700794,0.152460,0.185187,0.133920,0.890572,0.203559,0.183604,0.690463,0.108099,0.028392,0.036461,0.874658
1,0.471578,0.850296,0.809351,0.719413,0.003876,0.207687,0.306668,0.606402,0.492838,0.048839,0.541252,0.235869
2,0.615197,0.637400,0.435745,0.922244,0.425399,0.861068,0.802689,0.204755,0.210553,0.101186,0.901235,0.737447
3,0.804065,0.430813,0.260893,0.669977,0.874179,0.699387,0.856355,0.429203,0.116433,0.988195,0.557388,0.019544
4,0.026324,0.492526,0.375487,0.664122,0.269399,0.971173,0.393265,0.368560,0.011098,0.943442,0.002197,0.007838
5,0.539946,0.522564,0.363387,0.726106,0.819612,0.597723,0.283160,0.897263,0.745457,0.215669,0.407329,0.271250

sorts the df 

by default valure of ascending is false

axis=0 is rows && axis=1 is columns

In [24]:
newdf.sort_index(axis=0, ascending=False)

           0         1         2         3         4         5
11  0.874658  0.235869  0.737447  0.019544  0.007838  0.271250
10  0.036461  0.541252  0.901235  0.557388  0.002197  0.407329
9   0.028392  0.048839  0.101186  0.988195  0.943442  0.215669
8   0.108099  0.492838  0.210553  0.116433  0.011098  0.745457
7   0.690463  0.606402  0.204755  0.429203  0.368560  0.897263
6   0.183604  0.306668  0.802689  0.856355  0.393265  0.283160
5   0.203559  0.207687  0.861068  0.699387  0.971173  0.597723
4   0.890572  0.003876  0.425399  0.874179  0.269399  0.819612
3   0.133920  0.719413  0.922244  0.669977  0.664122  0.726106
2   0.185187  0.809351  0.435745  0.260893  0.375487  0.363387
1   0.152460  0.850296  0.637400  0.430813  0.492526  0.522564
0   0.700794  0.471578  0.615197  0.804065  0.026324  0.539946

In [25]:
newdf.head()

          0         1         2         3         4         5
0  0.700794  0.471578  0.615197  0.804065  0.026324  0.539946
1  0.152460  0.850296  0.637400  0.430813  0.492526  0.522564
2  0.185187  0.809351  0.435745  0.260893  0.375487  0.363387
3  0.133920  0.719413  0.922244  0.669977  0.664122  0.726106
4  0.890572  0.003876  0.425399  0.874179  0.269399  0.819612

In [26]:
newdf[0] #prints the selected data

0     0.700794
1     0.152460
2     0.185187
3     0.133920
4     0.890572
5     0.203559
6     0.183604
7     0.690463
8     0.108099
9     0.028392
10    0.036461
11    0.874658
Name: 0, dtype: float64

In [27]:
type(newdf[0]) #defines that is is in series

pandas.core.series.Series

In [28]:
newdf2=newdf.copy() #copy the previous df

In [29]:
newdf2[0][0]=12689

In [30]:
newdf

           0         1         2         3         4         5
0   0.700794  0.471578  0.615197  0.804065  0.026324  0.539946
1   0.152460  0.850296  0.637400  0.430813  0.492526  0.522564
2   0.185187  0.809351  0.435745  0.260893  0.375487  0.363387
3   0.133920  0.719413  0.922244  0.669977  0.664122  0.726106
4   0.890572  0.003876  0.425399  0.874179  0.269399  0.819612
5   0.203559  0.207687  0.861068  0.699387  0.971173  0.597723
6   0.183604  0.306668  0.802689  0.856355  0.393265  0.283160
7   0.690463  0.606402  0.204755  0.429203  0.368560  0.897263
8   0.108099  0.492838  0.210553  0.116433  0.011098  0.745457
9   0.028392  0.048839  0.101186  0.988195  0.943442  0.215669
10  0.036461  0.541252  0.901235  0.557388  0.002197  0.407329
11  0.874658  0.235869  0.737447  0.019544  0.007838  0.271250

In [31]:
newdf2

               0         1         2         3         4         5
0   12689.000000  0.471578  0.615197  0.804065  0.026324  0.539946
1       0.152460  0.850296  0.637400  0.430813  0.492526  0.522564
2       0.185187  0.809351  0.435745  0.260893  0.375487  0.363387
3       0.133920  0.719413  0.922244  0.669977  0.664122  0.726106
4       0.890572  0.003876  0.425399  0.874179  0.269399  0.819612
5       0.203559  0.207687  0.861068  0.699387  0.971173  0.597723
6       0.183604  0.306668  0.802689  0.856355  0.393265  0.283160
7       0.690463  0.606402  0.204755  0.429203  0.368560  0.897263
8       0.108099  0.492838  0.210553  0.116433  0.011098  0.745457
9       0.028392  0.048839  0.101186  0.988195  0.943442  0.215669
10      0.036461  0.541252  0.901235  0.557388  0.002197  0.407329
11      0.874658  0.235869  0.737447  0.019544  0.007838  0.271250

In [32]:
newdf.loc[0,0]=654 #allocates the value to location allocated

In [33]:
newdf.head(2)

           0         1         2         3         4         5
0  654.00000  0.471578  0.615197  0.804065  0.026324  0.539946
1    0.15246  0.850296  0.637400  0.430813  0.492526  0.522564

In [34]:
newdf2.columns = list("ABCDE") #allocates the columns with ABCDE

ValueError: Length mismatch: Expected axis has 6 elements, new values have 5 elements

In [ ]:
newdf.dtypes

In [ ]:
 newdf[0][0] = "Priyanshu"

In [ ]:
newdf.dtypes

In [ ]:
newdf.head()

In [ ]:
newdf.index

In [ ]:
newdf.drop(0, axis=1) #drop the selected axis=1 i.e. columns

In [ ]:
newdf.drop(0, axis=0) #drops the selected axis=0 i.e. rows

In [ ]:
newdf.loc[[1,2], [3,4]] #prints the selected rows and columns

In [ ]:
newdf.loc[:, [3,4]] #prints all the rows of the selected columns

In [ ]:
newdf.loc[[1,2], :] #prints all the columns of the selected rows

In [ ]:
newdf.loc[(newdf[1]<0.7)] #printed the rows which has the vlaues less than 0.7 of the selected column 1

In [ ]:
newdf.head(2)

In [ ]:
newdf.iloc[0,4] #prints the value acc. to the indexing

In [ ]:
newdf.iloc[[0,5],[1,2]] #prints the vlues of selected index

In [ ]:
newdf.drop([1,3],axis=0, inplace=True) #temporarily deletes the selected row and column in the original dataframe axis=0 for deleting the row and axis=1 for deleting columns

In [ ]:
newdf

In [ ]:
newdf.reset_index() #resets the data in the dataframe

In [ ]:
newdf.reset_index(drop=True, inplace=True)
newdf

In [ ]:
newdf.head(3)

In [ ]:
newdf[3].isnull() #prints the the which are null

In [ ]:
newdf[3]=None

In [ ]:
newdf[3].isnull()

In [ ]:
newdf.loc[:, [3]]=56 #it denotes the value for the whole column

In [ ]:
newdf

In [ ]:
newdf.loc[[3], :]=56

In [ ]:
newdf

In [ ]:
df= pd.DataFrame({"name": ['Priyanshu', 'Kumar', 'Sharma'],
                "rollno.": [np.nan, 10, 24],
                "born": [pd.NaT, pd.Timestamp("2004-10-17"), pd.NaT]})

In [ ]:
df

In [ ]:
df.dropna() #drops the nan value from the data

In [ ]:
df1= pd.DataFrame({"name": ['Priyanshu', 'Kumar', 'Sharma'],
                "rollno.": [np.nan,  np.nan, np.nan],
                "born": [pd.NaT, pd.Timestamp("2004-10-17"), pd.NaT]})

In [ ]:
df1.dropna(how='all', axis=1) #drops the column which has nan values

In [ ]:
df2= pd.DataFrame({"name": ['Priyanshu', 'Kumar', 'Priyanshu'],
                "rollno.": [np.nan,  np.nan, np.nan],
                "born": [pd.NaT, pd.Timestamp("2004-10-17"), pd.NaT]})

In [ ]:
df2.drop_duplicates(subset=['name']) #drops the duplicate data entry

In [ ]:
print(df2.drop_duplicates(subset=['name'], keep='first')) #drops the data entry

In [ ]:
print(df2.drop_duplicates(subset=['name'], keep='last')) #drops the first data entry

In [ ]:
print(df2.drop_duplicates(subset=['name'], keep=False)) #drops the first and last data entry

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df['born'].value_counts(dropna=False) #drops the na

In [ ]:
df.notnull() #prints in the format of True and false if null then false

In [ ]:
df.isnull() #prints the opposite of notnull()

Que Practice
1. create a dataframe which contains only integeres with 3 rows and 2 columns
2. run the following dataframe methods on them:

i. df.describe()
ii. df.meam()
iii. df.corr()
iv. df.count()
v. df.max()
vi. df.min()
vii. df.std()
viii.

In [ ]:
#pip install xlrd
#pip install openpyxl

In [ ]:
data=pd.read_excel('data.xlsx')

In [ ]:
data

In [ ]:
data=pd.read_excel('data.xlsx', sheet_name='sharma')
data #prints the dataframe of the selected sheet of the same excel

In [ ]:
data1=pd.read_excel('data.xlsx', sheet_name='Sheet1')
data1 #prints the dataframe of the selected sheet of the same excel

In [ ]:
data.iloc[0,0]=45

In [ ]:
data

In [ ]:
#data=data.to_excel('data.xlsx', sheet_name='Sheet1')

In [ ]:
dis={"a":[1,2,3,4,5], "b":[5,6,7,8,9]}
dis

In [ ]:
d=pd.DataFrame(dis)
d

In [ ]:
d.to_csv("solo1.csv", index=False)

In [ ]:
pd.read_csv('solo1.csv')